<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.abu.update_library">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <provider
            android:name="com.example.abu.update_library.UpdateFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_provider_paths"
                tools:replace="name,resource" />
        </provider>
        <activity android:name=".AndroidOPermissionActivity" />
        <receiver android:name=".UpdateBroadCastReceiver">
            <intent-filter>
                <action android:name="com.example.yiyaoguan111.update" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
